PORT=8787
APP_BASE_URL=http://localhost:8787
APP_SUCCESS_URL=http://localhost:8787/billing/success
APP_CANCEL_URL=http://localhost:8787/billing/cancel
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PRICE_MONTHLY_ID=price_1TLifCF8JKKwNyVlwGJWbh27
STRIPE_PRICE_YEARLY_ID=price_1TLig1F8JKKwNyVl3NDPXbcI
LICENSE_API_BEARER_TOKEN=change_me
